:root {
  --primary-text-color: #000000;
  --accent-color: #f7941e;
  --secondary-accent-color: #231f20;
  --section-background-color: #fafafa;
  --secondary-background-color: #f1f1f2;
  --primary-white-color: #ffffff;

  --time-animation: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: var(--primary-text-color);
  font-family: Montserrat, sans-serif;
  font-size: 14px;

  background-color: var(--primary-white-color);
}

/* утиліти */

.list {
  padding: 0;
  margin: 0;

  list-style: none;
}

.container {
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  /* margin-left: auto;
  margin-right: auto; */
  margin: 0 auto;
}

.container-hero,
.container-concept {
  width: 1440px;
  padding: 0;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.pointer {
  cursor: pointer;
}
/* section customer */
.customer .container {
  padding: 94px 0;
}
.customer-title {
  margin-bottom: 50px;
  color: #000000;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.customer-list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
.customer-item {
  padding: 16px 32px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
}
.customer-list .customer-item + .customer-item {
  margin-left: 30px;
}
.customer-item a {
  text-decoration: none;
  color: var(--primary-text-color);
}
.customer-item a:hover,
.customer-item a:focus {
  color: var(--accent-color);
}
